html,
body{
    margin: 0;
    background-color: #E0E9EF;
}
.site{
    /* max-width: 1000px; */
    margin: 0 auto;
}
.container{
    background-color: #E0E9EF;
}
.header{
    width: 100%;
    height: 40px;
    background-color: #D4DDE5;
}
.headertext{
    color: #000000;
    margin: 0;
    padding: 8px 0px 0px 16px;
    font-family: inter;
    font-style: normal;
    font-weight: bold;
}

.qrcodblock{
    background-color: #F4F4F4;
    width: 95%;
    max-width: 200px;
    max-width: 500px;
    height: 80px;
    border-radius: 16px;
    margin: 0 auto; 
    margin-top: 200px;
}

.qrcodbigtext{
    color: #0E1319;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 20px 0 0 0;
}
.qr{
    width: 65px;
    float: right;
    margin-right: 5px;
    top: -48px;
    position: relative;
}
.img{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}
.text404{
    font-size: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
@media screen and (max-width:380px) { .qrcodblock { height: 120px; }}
@media screen and (max-width:600px) { .qrcodblock { margin-top: 100px; }}