*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',  'Inter', 'Arial', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    height: 78px;
    padding-top: 20px;
    background: #D4DDE5;
    box-shadow: -4px -4px 50px #D4DDE5;   
}

.header div span{
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-shadow: -4px -4px 50px rgba(0, 0, 0, 0.1);
}

.inf {
    padding-top: 16px;
    padding-bottom: 16px;
}

main {
    background-image: url(/image/fon.png);
    background-size: cover;
    padding-bottom: 41px;
}

main div span { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    text-shadow: -4px -4px 50px rgba(0, 0, 0, 0.1);  
}

.container{
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
    justify-content: flex-start;
}

.block:last-child{
    display: flex;
    flex-direction: column;
    flex: 0 0 600px;
}

.block span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
}

.content{
    display: flex;
    justify-content: space-between;
    height: 250px;
    margin-top: 26px;
    border-radius: 16px;
    background-color: #ffffff;
}

.content p, .content .img{
    flex: 1;
}

.content p {
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
}

.img{
    width: 250px;
    height: 250px;
    border-radius: 16px;
    background-color: #ffffff;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #D4DDE5;
}

footer span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 37px;
}

.FootTablMain {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.FootTabl {
    width: 280px;
}

.FootTabl1 {
    width: 730px;
    padding: 50px 210px 0px 125px;
}

.FootTabl1 span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
}

.FootTabl1 span:last-child {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
}

/* MEDIA */

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1310px;
    }
    .FootTabl {
        width: 248px;
    }
    .FootTabl1 {
        width: 450px;
        padding: 38px 100px 0px 70px;
    }
    .FootTabl1 span {
        font-size: 30px;
    }
    .FootTabl1 span:last-child {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 965px;
    }
    .FootTabl1 {
        padding: 30px 0px 0px 50px;
        width: 332px;
    }
    .FootTabl1 span {
        font-size: 25px;
    }
    .FootTabl1 span:last-child {
        font-size: 28px;
    }
    .FootTabl {
        width: 173px;
    }
    footer span {
        font-size: 18px;
        line-height: 31px;
    }
}

@media screen and (max-width: 920px) {
    .FootTabl {
        width: 166px;
    }
    .FootTabl1 {
        width: 440px;
        padding: 33px 0px 0px 20px;
        width: 250px;
    }
    .FootTabl1 span {
        font-size: 22px;
        line-height: 0px;
    }
    .FootTabl1 span:last-child {
        font-size: 28px;
    }
    .container {
        max-width: 814px;
    }
    .img {
        width: 200px;
        height: 200px;
    }
    .block span {
        font-size: 16px;
    }
    .content {
        height: 200px;
    }
    .content p {
        font-size: 23px;
        line-height: 35px;
    }
    .block:last-child {
        flex: 0 0 504px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 630px;
    }
    .FootTabl1 {
        display: none;
    }
    .FootTabl {
        width: 185px;
        padding-left: 46px;
    }
    footer span {
        font-size: 18px;
        line-height: 31px;
    }
    .block span {
        font-size: 20px;
    }
    .content {
        flex-wrap: wrap;
        height: auto;
    }
    .content div img {
        width: 250px;
        height: 250px;
    }
    .img {
        width: 250px;
        height: 250px;
    }
    .block:last-child {
        flex: 0 0 260px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 320px;
    }
    .block {
        padding-left: 26px;
    }
    footer {
        display: none;
    }
}

/* MEDIA */